*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #fff;
}
img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transparent;
    animation: hello 1.5s infinite linear;
}
@keyframes hello{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }

}